.title {
  background: #2378ff;
  text-align: center;
  color: white;
  padding: 10px;
}
.controls {
  color: #2378ff;
  background-color: white;
}
.reset {
  text-align: left;
}

.level {
  text-align: right;
}

.square {
  width: 100%;
  padding-top: 100%;
  background: green;
  margin-top: 20px;
}

.container-color {
  position: relative;
  margin: 0 auto;
  width: 70%;
  max-width: 700px;
}

.container-control {
  position: relative;
  margin: 0 auto;
  width: 70%;
  max-width: 700px;
}

.white-bar {
  background-color: white;
}

body {
  background-color: #000;
}
